.main-map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: darkgreen;

  .corner-marker {
    position: absolute;
    width: 100px;
    height: 100px;
    background: darkred;
  }
}
