body {
  background: #000;
}

.main-map {
  position: relative;
  width: 1000px;
  height: 1000px;
  background: darkgreen;

  .corner-marker {
    position: absolute;
    width: 100px;
    height: 100px;
    background: darkred;
  }
}
