.scenery {
  position: absolute;
}

.shrub {
  top: 300px;
  left: 500px;

  img {
    width: 30px;
    height: 30px;
  }
}

.bush {
  top: 100px;
  left: 700px;

  img {
    width: 40px;
    height: 40px;
  }
}
