@import './abstracts/resets';
@import './abstracts/base';
@import './utilities/positions';
@import './maps/map';
@import './interaction/inventory';
@import './interaction/dialogue-box';
@import './interaction/npc-dialogue';
@import './buildings/building-components/wall';
@import './buildings/building-components/wood-floor';
@import './scenery/greenery';
@import './characters/character';
@import './characters/bob';
@import './characters/tavern-keeper';
@import './buildings/building-components/stone-floor';

.detection-zone {
  position: absolute;
  background: #000;
  opacity: 0.5;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  padding-bottom: 5px;
  background: #323232;
  color: antiquewhite;
  font-size: 22px;
  cursor: pointer;

  &:active {
    color: rgb(192, 177, 158);
  }
}
