@import './abstracts/resets';
@import './abstracts/base';
@import './utilities/positions';
@import './maps/map';
@import './interaction/dialogue-box';
@import './interaction/npc-dialogue';
@import './buildings/building-components/wall';
@import './buildings/building-components/wood-floor';
@import './scenery/greenery';
@import './characters/character';
@import './characters/bob';
@import './characters/tavern-keeper';
@import './buildings/building-components/stone-floor';

.detection-zone {
  position: absolute;
  background: #000;
  opacity: 0.5;
}
